@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--font-Inter)
}
.parisienne{
  font-family: var(--font-Parisienne);
}
.dancing-script{
  font-family: var(--font-DancingScript);
}
.noto-serif{
  font-family: var(--font-NotoSerifDisplay);
}
.quicksand{
  font-family: var(--font-Quicksand);
}
.lobster{
  font-family: var(--font-Lobster);

}
.transition-transform {
  transition: transform 1s ease-in-out;
}

.transition-opacity {
  transition: opacity 1 ease-in-out;
}
html {
  scroll-behavior: smooth;
}
.love-rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: -5%;
  font-size: 24px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-animation {
  animation: fade 2s ease-in-out;
}
.timeline-container::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 2px; /* Line width */
  background-color: #000; /* Line color */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.spin {
  animation: spin 20s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-heart {
  background-image: url('https://res.cloudinary.com/dzm879qpm/image/upload/v1719496305/vecteezy_realistic-3d-design-icon-heart-symbol-love_21392635_yidfua.png'); /* Update with the actual path to your heart image */
  background-size: cover; /* Cover the entire area of the element */
  background-position: center; /* Center the background image */
  animation: pulse 1s infinite;
}
@media (max-width: 768px) {
  .timeline-container::before {
    display: none; /* Hide the line on smaller screens if needed */
  }
  .marry-text{
    font-size: 24px;
  }
  .slideshow{
    height: '50vh';
  }
}
@keyframes bubble-float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh); /* Move the bubble from bottom to top */
  }
}

.bubble {
  animation-timing-function: linear;
}
