@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--font-Inter)
}
.parisienne{
  font-family: var(--font-Parisienne);
}
.dancing-script{
  font-family: var(--font-DancingScript);
}
.noto-serif{
  font-family: var(--font-NotoSerifDisplay);
}
.quicksand{
  font-family: var(--font-Quicksand);
}
.transition-transform {
  transition: transform 1s ease-in-out;
}

.transition-opacity {
  transition: opacity 1 ease-in-out;
}
html {
  scroll-behavior: smooth;
}
.love-rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: -5%;
  font-size: 24px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-animation {
  animation: fade 2s ease-in-out;
}
.timeline-container::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 2px; /* Line width */
  background-color: #000; /* Line color */
}
.bg-heart {
  background-image: url('https://res.cloudinary.com/dzm879qpm/image/upload/v1719390462/path26_lztoby.svg'); /* Update with the actual path to your heart image */
  background-size: cover; /* Cover the entire area of the element */
  background-position: center; /* Center the background image */
}
@media (max-width: 768px) {
  .timeline-container::before {
    display: none; /* Hide the line on smaller screens if needed */
  }
  .header-text {
    font-size: 36px; /* Adjust this value as needed */
  }
  .marry-text{
    font-size: 24px;
  }
  .slideshow{
    height: '50vh';
  }
}
